

body {
  /* font-family: 'Roboto Condensed', sans-serif; */
  margin: 0;
  background: rgb(255, 255, 255);
  height: auto;
}
h1 {
  font-weight: bold;
  font-size: 4rem;
  font-family: 'Poiret One', cursive;

  margin: 0;
}
p{
  font-family: 'Poiret One', cursive;
  padding:50px 20px;
  font-weight: bolder;

}
#images p{
  font-family: 'Poiret One', cursive;

}
h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
}
#contactform h3{
  font-size:2rem;
  padding:10px 0;
}
.para-header{
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 7rem;
  text-transform: capitalize;
  z-index:2;
  position: relative;
  color:white;
}
img {
  display: block;
  width: 100%;
}
main {
  max-width: 1000px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}
.parallax{
  min-height: 300px;
  padding:100px 35px;
  background:transparent;
  
}
#landing {
  background: rgb(255, 255, 255) 
}
#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#landing-text h2 {
  color: #888;
}
#landing-image {
  
  position: relative;
  size: cover;
  /* height: 600px; */
  flex: 0 1 60vw;
  margin: 0;

  height: 900px;
  /* width: 400px;  */
  overflow: hidden;
  
}
#landing-image img{
 position: absolute;
 top: 50%;                        
 transform: translate(0, -50%);
 height: auto;
 max-width: none;
 border-radius:5px;
 padding-left:4px;
}
#landing .btn {
  padding: 0.5rem 2rem;
  border: 1px rgb(36, 36, 36) solid;
  display: inline-block;
  margin: 3.5rem 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
  font-family: 'Julius Sans One', sans-serif;

}
#landing .nav-item .nav-link{
  color:black;
  font-family: 'Poiret One', cursive;
}
  #landing .nav-item .dropdown-item{
    color:black;
    font-family: 'Poiret One', cursive;
  
  }
.btn:hover {
  background: #d1d1d1;
}
#header {
 
  padding: 1.5rem;
  text-align: center;
  background: #fff;
  color: #fff;
}
#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}
#images{
  padding: 40px;
}
#images .caption h3{
  font-family: 'Julius Sans One', sans-serif;
}
 #images img{
  margin-bottom:40px;
  border-radius: 25px;
} 
.caption {
  /* border: 1px rgb(216, 216, 216) solid;
  border-radius: 25px; */
  padding: 0.8rem;
  text-align: center;
  
}
hr{ 
  height: 1px;
  background-color: black;
  border: none;
  width:70%;
}
#changeCSS {
  padding: 0.5rem 2rem;
  border: 1px rgb(36, 36, 36) solid;
  margin: 3.5rem 0;
  border-radius: 50px;
  text-decoration: none;
  color: rgb(7, 7, 7);
  font-family: 'Julius Sans One', sans-serif;
  background-color: white;
}
#changeCSS:hover {
  background: #d1d1d1;
}
footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  background-color: white;
  font-family: 'Poiret One', cursive;
}
footer li{
  list-style-type: none;
}
footer h6{
  font-size:20px;
  font-weight: 500;
}
footer a{
  color:black;
  
}
footer a:hover{
  color:black;
  text-decoration-line: none;
}
footer h3 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top:5px;
  color:white;
  border-radius:5px;
  font-weight: bolder;

}
#footer-form{
  margin: 0 auto;
  text-align: center;
  padding-top:20px;
  font-family: 'Poiret One', cursive;
  font-weight: 500;

}
#footer-form label{
  color:rgb(0, 0, 0);
  font-weight: 500;
}
#footer-form .btn{
  padding: 0.5rem 2rem;
  border: 1px rgb(0, 0, 0) solid;
  display: inline-block;
  margin: 3.5rem 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  font-family: 'Poiret One', cursive;
  background:white;

}
#footer-form .btn:hover{
  background-color:#d1d1d1 ;
}
#form-background{
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
   border-radius:2%; 
}
#contactform{
  padding:50px 0;
  
}

/* screen sizes 500px and up*/
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }
  #landing-text {
    height: 100vh;
    
  }
  #landing-image {
    height: 100vh;
  }
}

/* screen sizes 700px and up*/
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}
