<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css" id="swap" type="text/css">
  <title>Wil Shamsabadi Photography</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Amatic+SC|Poiret+One&display=swap" rel="stylesheet" > 
  <script src="https://kit.fontawesome.com/aa2f1c6bf1.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/js/parallax.js-1.5.0/parallax.js"></script>
  <link rel="stylesheet" href="/css/grid-gallery.min.css">
  
</head>

<body>
  
    <!--Landing Area-->
    
    <div id="landing">
      <div id="landing-text">
        <div id="landing-text-inner">
          <h1>Wil Shamsabadi</h1>
          <h3>Photography</h3>


          <div class="container">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Work
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% viewworkTypes.forEach(function(item){ %>
                  <a class="dropdown-item" href="/<%= item.type %>"><%= item.type %></a>
                <% }); %>
                
              </div>
            </li>
          </ul>
        </div>

        </div>
      </div>
      <div id="landing-image"><img src="/images/lightbox/Landscapes_2.jpg" alt=""></div>
    </div>
    <main>